@font-face {
    font-family: Staat;
    src: url(../Fonts/Staatliches/Staatliches-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-color: #f4f4f4;
}

main {
    width: 80%;
    min-height: calc(100vh - 147px);
    margin: auto;
    padding-top: 50px;
    /*position: relative;*/
}