.cat-wrap {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    gap: 50px;
}
.cat {
    /*align-self: flex-start;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: #000000;*/
    gap: 30px;
    margin-bottom: 30px;
    width: 50%;
}
.cat-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 40px 16px rgba(0, 0, 0, 0.11);
    height: 50%;
    padding: 20px;
}
.cat-info-inner {
    text-align: center;
    padding: 10px;
}
.cat-info-inner p {
    padding: 40px;
}
.cat-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.cat-box a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-family: Staat, sans-serif;
}
.cat-box:hover a {
    color: white;
}
.cat-box:hover {
    background-color: #0060df;
}
.cat a:hover {
    text-decoration: underline;
}
