#footer {
    width: 100%;
    /*height: 400px;*/
    background-color: #000000;
    text-align: center;
    border-top: 2px solid gray;
    padding: 50px;
    margin-top: 50px;
}
#footer p {
    font-size: 1.3em;
    padding: 30px 0;
    color: #ffffff;
}
#footer p>a {
    text-decoration: none;
    border-bottom: 1px dotted rgb(107, 104, 104);
    color: rgb(107, 104, 104);
}
#footer p>a:hover {
    color: #0060df;
}
#footer-list a:hover {
    color: #0060df;
    transition: 100ms;
}
#footer-list {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
#footer-list li{
    margin: 0 15px;
    font-size: 32px;
}
#footer-list a {
    color: rgb(107, 104, 104);
}