header {
    background-color: black;
    /*height: 200px;*/
    border-bottom: 2px solid gray;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-wrap {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid gray;
    transition: 200ms ease-in-out;
}
.header-top.toggle {
    /*transform: translateY(-100%);*/
    height: 0;
}
#header-h {
    font-family: Staat, sans-serif;
    font-size: 48px;
    color: #ffffff;
    transition: 500ms;
}
#header-h.tog {
    transform: translateY(-100%);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.list li {
    display: block;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.list a {
    font-family: Staat, sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    transition: 300ms;
    /*margin-right: 30px;*/
}
.list a:hover {
    text-decoration: underline;
}
#list-home {
    width: 50%;
    justify-content: left;
}
#list-sign {
    width: 70%;
    justify-content: right;
}
nav i {
    margin-right: 5px;
    font-size: 30px;
    /*vertical-align: middle;*/
}