.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.order-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}
.card-order:hover {
    transform: translateY(-3%);
}
.order-item p {
    font-size: 24px;
}
.card-order {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    gap: 40px;
    border-radius: 10px;
    padding: 10px;
    transition: 100ms;
}
.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    align-self: flex-start;
    border-radius: 10px;
    font-size: 48px;
    font-family: Staat, sans-serif;
    position: sticky;
    top: 2em;
    transition: 300ms;
    padding: 20px;
}
#p-bill {
    color: #0060df;
}
.order-desc {
    width: 30%;
}