.sidebar-box {
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100%;
    background: #000000;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s;
    box-shadow: 0 0 40px 16px rgba(0, 0, 0, 0.24);
    visibility: hidden;
    z-index: 10;
    text-align: center;
}

.sidebar-box.toggle {
    visibility: visible;
    left: 0;
}
.sidebar-toggle {
    width: 50px;
    height: 50px;
    font-size: 20px;
    /*visibility: hidden;*/
    display: none;
    box-shadow: 0 0 40px 16px rgba(0, 0, 0, 0.11);
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.sidebar-toggle:hover {
    /*background-color: #5c3db9;*/
}
.sidebar-box > li {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.sidebar-box a {
    text-decoration: none;
    font-family: Staat, sans-serif;
    font-size: 22px;
    color: #ffffff;
}
.sidebar > form * {
    margin: 20px 0;
}